
.nav-item {
    margin-left: 10px;
    display: none; 
  }
  
  nav:hover .nav-item {
    display: inline; 
  }
  
  a:hover {
    background: lightcoral;
  }
  
  nav:hover {
    width: 200px;
    transition: width 0.5s ease;
  }
  
  
  nav a.active {
    background: lightcoral; 
    color: white; }
  






  h1 {
    font-size: 2.5rem; 
    color: #333; 
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; 
  }
  
  /* Paragraph Styles */
  p {
    font-size: 1.2rem; 
    color: #666; 
    line-height: 1.6; 
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif; 
  }
  











  .image-container img {
    float: right;
    max-width: 95%;
    height: auto;
}
@media screen and (max-width: 768px) {
    .image-container {
        text-align: center; 
        padding-right: 0; 
    }

    .image-container img {
        width: 80%; 
        height: auto;
    }
}